<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student - List</title>
    <style>table, th, td { border: 1px solid black;border-collapse: collapse;}</style>
</head>
<body>
<table>
    <tr>
        <th>Name</th>
        <th>College</th>
        <th>Email</th>
        <th>Total</th>
    </tr>
    {% for i in students %}
    <tr>
        <td>{{i.name}}</td>
        <td>{{i.college.acronym}}</td>
        <td>{{i.email}}</td>
        <td>{{i.mocktest1.total}}</td>
        {% if perms.onlineapp %}
        <td><button><a href="{{i.id}}/editstudent">EDIT</a></button></td>
        <td><button><a href="{% url 'onlineapp:student_form.html3' college.id i.id %}">DELETE</a></button></td>
        {% endif %}
    </tr>
    {% endfor %}
    {% if perms.onlineapp %}
    <button><a href="addstudent">ADD STUDENT</a></button>
    {% endif %}
    <button><a href="/logout/">LOG OUT</a> </button>
</table>
</body>
</html>